version: '3.7'

services:
  goose-counter:
    image: docker-workshop/goose-counter:latest
    ports:
      - 8080:8080
    command: ["python", "main.py"]

  frontend:
    image: docker-workshop/frontend:latest
    ports:
      - 3000:3000
    command: ["npm", "start"]
    env_file: ./conf/.env-frontend

  nickname-generator:
    image: docker-workshop/nickname-generator:latest
    ports:
      - 8081:8081
    command: ["racket", "main.rkt"]