<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Goose Counter!</title>
</head>
<body>
    <h1>Welcome to the Goose Counter!</h1>
    <h3>Click on the button below to start counting Goose...</h3>
    <p align="center">
        <a href=goose >
            <button class=grey style="height:75px;width:150px">
                Start the Hunt!
            </button>
        </a>
    </p>
</body>
</html>